<h1>Movimientos de Inventario</h1>

<div class="card mt-3">
  <div class="card-header">
    <h4><%= link_to @product.product_name, @product %></h4>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Tipo2</th>
          <th>Cantidad</th>
          <th>Stock Final</th>
          <th>Motivo</th>
        </tr>
      </thead>
      <tbody>
        <% @inventory_movements.each do |movement| %>
          <tr>
            <td><%= movement.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= movement.movement_type.capitalize %></td>
            <td><%= movement.movement_subtype.capitalize %></td>
            <td><%= movement.quantity %></td>
            <td><%= movement.stock_final %></td>
            <td><%= check_reason(movement) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-end">
    <%= link_to 'Nuevo Movimiento', new_product_inventory_movement_path(@product), class: 'btn btn-primary' %>
  </div>
</div>

